<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="devDept.Eyeshot" version="2020.2.264" targetFramework="net48" />
  <package id="DynamicData" version="6.15.1" targetFramework="net48" />
  <package id="FluentAssertions" version="5.10.3" targetFramework="net48" />
  <package id="Fody" version="6.2.0" targetFramework="net48" developmentDependency="true" />
  <package id="LanguageExt.Core" version="3.4.15" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Pharmacist.Common" version="1.5.15" targetFramework="net48" />
  <package id="ReactiveUI" version="11.4.17" targetFramework="net48" />
  <package id="ReactiveUI.Events.WPF" version="11.4.17" targetFramework="net48" />
  <package id="ReactiveUI.Fody" version="11.4.17" targetFramework="net48" />
  <package id="ReactiveUI.WPF" version="11.4.17" targetFramework="net48" />
  <package id="Splat" version="9.4.5" targetFramework="net48" />
  <package id="Splat.Drawing" version="9.4.5" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Interactive" version="4.1.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reactive" version="4.4.1" targetFramework="net48" />
  <package id="System.Reactive.Core" version="4.4.1" targetFramework="net48" />
  <package id="System.Reactive.Interfaces" version="4.4.1" targetFramework="net48" />
  <package id="System.Reactive.Linq" version="4.4.1" targetFramework="net48" />
  <package id="System.Reactive.PlatformServices" version="4.4.1" targetFramework="net48" />
  <package id="System.Reactive.Windows.Threading" version="4.4.1" targetFramework="net48" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="Weingartner.ReactiveUI.Fody" version="2.3.0-alpha.10" targetFramework="net48" developmentDependency="true" />
  <package id="xunit" version="2.4.1" targetFramework="net48" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net48" />
  <package id="xunit.analyzers" version="0.10.0" targetFramework="net48" />
  <package id="xunit.assert" version="2.4.1" targetFramework="net48" />
  <package id="xunit.core" version="2.4.1" targetFramework="net48" />
  <package id="xunit.extensibility.core" version="2.4.1" targetFramework="net48" />
  <package id="xunit.extensibility.execution" version="2.4.1" targetFramework="net48" />
  <package id="Xunit.StaFact" version="0.3.18" targetFramework="net48" />
</packages>